body{
  background-color: cornsilk;
}


#control_panel, #weather_station{
  font-family:monospace;
  font-size: 20;
  text-align:center;
  background-color: lightgrey;
  padding:20px;
  border: black 2px dashed;
  border-radius: 30px;
  max-width: 550px;
}
